@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
}

body {
    font-family: 'Montserrat';
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7.5%;
    box-sizing: border-box;
}

.logo {
    left: 7.5%;
    top: 6.5%;
    height: 213px;
    width: 289px;
}

.welcome {
    display: flex;
    align-items: center;
    position: absolute;
    top: 11%;
    right: 7.5%;
    font-size: 18px;
}

.welcome p {
    top: 11%;
    right: 7.5%;
    font-size: 18px;
}

.welcome img {
    width: 24px;
    height: 24px;
    top: 11%;
    margin-right: 10px;
    vertical-align: middle;
}

.server-time {
    top: 20%;
    right: 7.5%;
    font-size: 16px;
    color: #969696;
}

.server-time p {
    top: 20%;
    right: 7.5%;
    font-size: 16px;
    color: #969696;
}

main {
    margin-top: 210px;
    padding: 0 7.5%;
}

h1 {
    margin-bottom: 15px;
    font-size: 24px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 45px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: separate; /* Чтобы границы не сливались */
    border-spacing: 0 10px; /* Отступ между строками */
    margin-bottom: 15px;
}

th, td {
    text-align: left;
    background: transparent; /* Убираем фон у ячеек */
}

th {
    padding-left: 10px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 19px;
    padding-bottom: 18px;
}

td img {
    width: 24px;
    height: 24px;
    top: 11%;
    margin-right: 10px;
    vertical-align: middle;
}

th {
    font-size: 14px;
}

tbody tr {
    background-color: rgba(30, 30, 30, 0.65);
    backdrop-filter: blur(12.5px);
    border-radius: 15px;
    box-shadow: 0px 5px 10px -5px rgba(153, 186, 233, 0);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

tbody tr:hover {
    box-shadow: 0px 5px 10px -5px rgba(153, 186, 233, 0.50);
}

tbody tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

tbody tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.upload-button {
    padding-left: 25px;
    padding-right: 50px;
    padding-top: 19px;
    padding-bottom: 18px;
    display: inline-block;
    margin-top: 20px;
    background-color: rgba(30, 30, 30, 0.45);
    backdrop-filter: blur(12.5px);
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.upload-button img {
    width: 24px;
    height: 24px;
    top: 11%;
    margin-right: 10px;
    vertical-align: middle;
}

.upload-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 10px -5px rgba(153, 186, 233, 0.50);
}

#progressWrapper {
    margin-top: 25px;
    width: 100%;
    position: relative;
}

#progressBarContainer {
    background: rgba(30, 30, 30, 0.65);
    height: 25px;
    backdrop-filter: blur(12.5px);
    border-radius: 13px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#progressBar {
    background: linear-gradient(90deg, #644190, #3F3796);
    height: 25px;
    border-radius: 13px;
    width: 0;
    max-width: 100%;
}

#uploadPercentage {
    font-size: 18px;
    color: white; /* Default color during upload */
    position: absolute;
    right: 0;
    top: -25px;
}

#uploadMessage {
    margin-top: 10px;
    font-size: 14px;
    color: #24FF00;
}

footer {
    position: absolute;
    bottom: 5%;
    right: 7.5%;
    text-align: right;
    font-size: 14px;
    color: #969696;
}


@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }
    
    tr {
	font-size: 10px;
    }
    .welcome {
	margin-top: 50px;
        align: left;
    }
    .server-time {
	margin-top: 65px;
    }
    .logo {
	margin-top: 10px;
        height: 150px;
        width: 200px;
    }
    
    .welcome, .server-time, .upload-button {
        font-size: 14px;
    }
    .server-time p, .welcome p {
        font-size: 14px;
    }
    h1, h2 {
        font-size: 20px;
    }
    th, td {
        font-size: 12px;
        padding: 5px;
    }
    .upload-button {
        padding: 10px 20px;
    }
}

.progress-wrapper {
    margin-bottom: 10px;
}

.progress-bar-container {
    width: 100%;
    background-color: rgba(30, 30, 30, 0.65);
    backdrop-filter: blur(12.5px);
    border-radius: 13px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}

.progress-bar {
    background: linear-gradient(90deg, #644190, #3F3796);
    opacity: 0.65;
    height: 25px;
    border-radius: 13px;
    width: 0;
    max-width: 100%; /* Limit width to 100% */
    text-align: center;
    color: white;
    line-height: 25px; /* Center the text vertically */
}

.success-message {
    font-size: 14px;
    color: #24FF00;
    margin-top: 15px;
}

